:root{
    /* primary */
    --Very-dark-blue-main-background: hsl(233, 47%, 7%);
    --Dark-desaturated-blue-card-background: hsl(244, 38%, 16%);
    --Soft-violet-accent: rgb(170, 92, 219);
    /* neutral */
    --White-main-heading-stats: hsl(0, 0%, 100%);
    --Slightly-transparent-white-main-paragraph: hsla(0, 0%, 100%, 0.75);
    --Slightly-transparent-white-stat-headings: hsla(0, 0%, 100%, 0.6);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Inter', sans-serif;
    min-height: 100vh;
    display: grid;
    place-content: center;
    background-color: var(--Very-dark-blue-main-background);
}

.conteinner{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    width: 900px;
    height: 350px;
    overflow: hidden;
    margin: auto;
    background: var(--Dark-desaturated-blue-card-background);
    border-radius: 5px;
}

.photo{
    background-image: url(/images/image-header-desktop.jpg);
    background-size: cover;
    width: 100%;
    height: 100%;
    position: relative;
    filter: contrast(120%) brightness(70%) saturate(90%);
}

.color{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: var(--Soft-violet-accent);
    opacity: 0.5;
}

.description{
    width: 100%;
    padding: 0 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.description h1{
    color: var(--White-main-heading-stats);
    font-weight: 700;
    font-size: 26px;
    line-height: 30px;
    margin-bottom: 20px;
}

.description h1 a{
    color: var(--Soft-violet-accent);
}

.description p{
    color: var(--Slightly-transparent-white-main-paragraph);
    font-weight: 500;
    font-size: 15px;
}

.cifras-conteinner{
    display: flex;
    margin-top: 60px;
    justify-content: flex-start;
    gap: 50px;
}

.cifras-conteinner h2{
    font-size: 22px;
    color: var(--White-main-heading-stats);
    font-weight: 700;
}

.cifras-conteinner p{
    font-size: 12px;
    color: var(--Slightly-transparent-white-stat-headings);
    margin-top: 5px;
}

@media (max-width: 1440px) {
    body{
        padding: 30px;
    }
    .conteinner {
        display: grid;
        grid-template-rows: auto auto;
        width: 60%;
        height: 750px;
    }
    .foto{
        background-image: url(/images/image-header-mobile.jpg);
    }
    .description{
        height: 100%;
        padding: 0 25px;
    }
    .description h1{
        text-align: center;
        margin: 0;
    }
    br{
        display: none;
    }
    .description p{
        text-align: center;
        line-height: 25px;
        padding: 0 14px;
    }
    .cifras-conteinner {
        display: flex;
        margin-top: 0;
        justify-content: center;
        gap: 0;
        flex-direction: column;
        gap: 30px;
    }
    .cifras-conteinner p{
        margin-top: 0px;
    }
    .cifra{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}